{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='vendors/datatables-1.10.1/css/jquery.dataTables.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='vendors/datatables-1.10.1/exts/TableTools/css/dataTables.tableTools.css')}}">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">
<style>
tr td:first-child {
        text-align: center;
    }
 
    tr td:first-child:before {
        content: "\f096"; /* fa-square-o */
        font-family: FontAwesome;
    }
 
    tr.selected td:first-child:before {
        content: "\f046"; /* fa-check-square-o */
    }
</style>
{% endblock %}

{% block content%}

	{% for message in get_flashed_messages() %}
	<div class="alert alert-warning">
	    <button type="button" class="close" data-dismiss="alert">&times;</button>
	    {{ message }}
	</div>
	{% endfor %}
	<a href="{{ url_for('admin.add_user') }}">Add contact</a>
	</br>
	
	<div class="row-fluid">
		<div class="col-xs-12 col-md-3 col-sm-4 col-sm-offset-4 col-md-offset-4 col-lg-3 col-lg-offset-4">
			<table id="example" class="display" cellspacing="0" width="100%" />
		</div>
    </div>
{% endblock%}


{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='vendors/datatables-1.10.1/js/jquery.dataTables.js')}}"></script>
<script src="{{url_for('static', filename='vendors/datatables-1.10.1/exts/TableTools/js/dataTables.tableTools.js')}}"></script>

<script>
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
var myTable;
$(document).ready(function(){
	myTable = $('#example').DataTable({
		"searching" : false,
		"bProcessing" : true,
		"serverSide" : true,
		"sAjaxSource": "{{ url_for('admin.users') }}",
        "aoColumns": [
            {"sTitle": "", "mData": null, "sDefaultContent": "", "bSortable": false},
            {"sTitle": "Name",	"sName": "name","mDataProp": "username", "aTargets": [1], "bSearchable": true, "bSortable": true},
            {"sTitle": "Email", "sName": "email", "mDataProp": "email", "aTargets": [2], "bSearchable": true, "bSortable": true, "mRender": function(data, type, row) {
                return "<a href='/admin/users/" + row["id"] + "'>" + row["email"] + "</a>";
            }}
        ],
		"order" : [ 1, 'asc' ],
		"sDom" : 'T<"clear">lfrtip',
		"oTableTools" : {
			"sRowSelect" : "multi",
			"sRowSelector" : 'td:first-child',
			"aButtons" : [
			      {
			    	  "sExtends": "text",
			    	  "sButtonText": "Delete",
			    	  "fnClick": function(){
			    		  var data = this.fnGetSelectedData();
			    		  if(data.length > 0){
			    			  var ids = [];
			    			  for(i = 0; i < data.length; i++){
			    				  ids.push(data[i].id);
			    			  }
			    			  
			    			  if(confirm("Are you sure want to delete the selected row?")){
			    				  var idsStr = "" + ids + "";
			    				  
			    				  $.ajax({
			    					  url: "{{ url_for('admin.delete_users', user_ids=9999) }}".replace(9999, idsStr),
			    					  type: 'DELETE',
			    					  success: function(result) {
			    					  	if(result == 'success'){
			    					  		myTable.draw();
			    					  	}
			    					  }
			    				  });
			    			  }
			    		  }
			    	  }
			      },
			      "select_all", 
			      "select_none" 
			 ],
			"sSwfPath" : "{{url_for('static', filename='vendors/datatables-1.10.1/exts/TableTools/swf/copy_csv_xls_pdf.swf')}}"
		}
    });
});

// TODO searching
// function to search by column is myTable.column(<col-idx>).search(<search_val>).draw()

</script>
{% endblock %}